body {
  margin: 0;
  font-family: "Nunito", 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .ant-typography {
    font-family: "Nunito", 'Helvetica Neue', sans-serif !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
